
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data.h3.ttu Обратный звонок
				p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta at blanditiis error quis incidunt ratione. Expedita ullam repellendus possimus eos ex quidem quisquam quam voluptatum ipsa doloremque molestias accusamus rem deserunt tenetur incidunt exercitationem laboriosam consequuntur, repudiandae dolore odit earum voluptatibus autem amet! Eligendi omnis necessitatibus at accusamus excepturi, debitis magnam alias.
			+input("Ваше Имя")(required)  
			+e.BUTTON.btn.btn(type="submit"  ) 
			+polite()
	// #modal-call

	+b.modal-win(id="modal-order" style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data.h5 Ваш заказ
			table 
				mixin tr 
					tr 
						td 
							+e.imgWrap(href="#")
								+pic('cardImg.jpg')
						td 
							+e.name Название:
							+e.price Цена: 
								span 0 руб.
						td 
							+e.close(type="button")
								+icon('close')
				+tr
				+tr
			+e.total Сумма: 0 руб.
			+input("Ваше Имя")(required)
			+input("Введите Ваш телефон",'tel')(required)
			+e.BUTTON.btn.btn.btn-info(type="submit") Отправить заказ
			//- +polite()

	// end modals