mixin sContact()
	// start sContact
	+b.sContact.section#sContact&attributes(attributes)
		.container
			block

			.row
				+e.imgCol.col-lg-4
					+pic('photo.jpg','','')
				.col-lg-8
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aab19b3d4502c45c29dcf830e3a152cdef4b69fa7f804a961bb4614bfdce08b3c&amp;width=100%25&amp;height=520&amp;lang=ru_RU&amp;scroll=false"></script>
		// end sContact