mixin sCard(data)
	// start sCard
	+b.sCard.section#sCard&attributes(attributes)
		.container
			+e.row.row
				.col 
					+e.wrap
						+e.name Название
						+e.descr Краткое описание
						+e.price Цена: 
							span 0 руб.
						.btnRow.row
							.col-sm-auto 
								a.btn.btn-info(href="#") Заказать
							.col-sm-auto
								a.btn.btn-outline-info(href="#") Назад в каталог
				+e.imgWrap.col-md-4.col-xl-3.order-md-first 
					+pic('cardImg.jpg','','')
	// end sCard