mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('headerBg.jpg','bg')(class="picture-bg")
		.container.text-center
			+e.txtWrap
				block


	// end headerBlock