mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container.min-height
			.text-center
				p Здесь будет текстовое описание о компании Сад цветов.
			.btnRow.row.justify-content-center 
				.col-auto
					a.btn.btn-outline-info(href="#") Перейти в каталог букетов
				.col-auto
					a.btn.btn-outline-info(href="#") Перейти в каталог растений
	// end sContent