// start .sContent
.sContent {
	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContent

.min-height {
	min-height: 300px;
	display: flex;
	flex-direction: column;

	.btnRow {
		margin-top: auto;
	}
}
